body {
	font-family: 'Open Sans', sans-serif;
	color: #202328;
}

button:focus {
    outline: none;
}

ul {
	padding: 0 40px;
}

.grid-contact-social__telegram a {
	text-decoration: none;
	color: #3DBEFF;
	outline: none;
}

.grid-contact-social__google a {
	text-decoration: none;
	color: #EB5043;
	outline: none;
}

.grid-title__left {
	text-align: left;
	display: grid;
}

.grid-title__right {
	text-align: right;
	display: grid;
	align-items: end;
}

.grid-contact-social__google i {
	color: #ea4335;
}

.grid-contact-social__telegram i {
	color: #0088cc;
}

.wrap {
	max-width: 1190px;
	margin: 0 auto;
}

header h1 {
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}

.grid-container {
	display: grid;
	grid-template-columns: 150px repeat(4, 2fr) 150px;
	grid-template-rows: auto;
	grid-template-areas: "number description description contact contact duo"
	                     "work work work work work work";
	grid-row-gap: 20px;
}

.grid-number {
	font-weight: 700;
	font-size: 80px;
	color: #DEDEDE;
	grid-area: number;
}

.grid-description {
	grid-area: description;
	display: grid;
	align-items: center;
	height: 0;
}

.grid-description li {
	list-style-type: none;
	text-align: left;
	line-height: 1.5;
	letter-spacing: 2.4px;
}

.grid-work {
	display: grid;
	grid-area: work;
	grid-template-rows: 300px;
	background-image: url(/img/fon.webp);
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #202328;
	background-size: cover;
	position:relative;
	margin-bottom: 40px;
}

.two {
	background-image: url(/img/fon-2.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.three {
	background-image: url(/img/fon-3.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.four {
	background-image: url(/img/fon-4.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.five {
	background-image: url(/img/fon-5.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.six {
	background-image: url(/img/fon-6.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.grid-work:hover {
	transition: .5s ease-in-out;
	box-shadow: inset 0px -70px 10px -10px rgba(0,0,0,0.85);
	-webkit-box-shadow: inset 0px -70px 10px -10px rgba(0,0,0,0.85);
	-moz-box-shadow: inset 0px -70px 10px -10px rgba(0,0,0,0.85);
}

.grid-text>span {
	display: none;
}

.grid-text {
	display: none;
}

.grid-work:hover .grid-text {
	display: grid;
	align-items: end;
	padding: 0 0 20px 30px;
	text-decoration: none;
	color: #fff;
}

.grid-contact {
	grid-area: contact;
	display: grid;
	align-items: center;
	height: 0;
}

.grid-contact li {
	list-style-type: none;
	line-height: 28px;
	letter-spacing: 2.4px;
	text-align: right;
}

.transition {
	transition: .8s;
}

table {
	position: absolute;
	margin: 0 auto;
	margin-top: 50px;
	left: 0;
	right: 0;
}

.owl-nav {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.owl-carousel button.owl-dot {
	color: #fff;
	background-color: #202328;
}

.grid-duo {
	font-weight: 700;
	font-size: 80px;
	color: #DEDEDE;
	grid-area: duo;
	text-align: right;
	justify-content: end;
}