body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

.wrap {
	max-width: 1280px;
	margin: 0 auto;
}
.header {
	background-color: #313030;
}
.header__nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 90px;
}

.header__nav a {
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	color: #E0E0E0;
	margin: 0 30px;
}

.header__nav ul {
	padding: 36px 0;
	cursor: pointer;
	transition: 300ms;
}

.header__nav ul:hover {
	background-color: #FF3F40;
}

.continer__present {
	padding-top: 30px;
	background-color: #F6F2F2;
	height: 690px;
}

.header__content h1 {
	font-weight: 800;
	font-size: 60px;
	text-align: left;
	text-transform: uppercase;
	padding-top: 110px;
}

.header__content p {
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	padding-bottom: 20px;
}

.header__content button {
	border: none;
	padding: 20px 70px;
	font-weight: 800;
	font-size: 16px;
	color: #fff;
	background-color: #FF2D2D;
	border-radius: 5px;
	cursor: pointer;
}

.header__content button:focus {
	outline: none;
}

.header__content {
	width: 600px;
	margin-left: 0;
}

.header__video img {
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.29);
	width: 551px;
	height: 356px;
}

.present__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.header__video {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 0;
	padding-top: 105px;
	cursor: pointer;
}

/*Block 2*/

.conteiner__info {
	height: 690px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.info__text {
	width: 535px;
	padding-top: 65px;
}

.info__text p {
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 40px;
}

.info__text button {
	border: solid 2px #FF0000;
	border-radius: 3px;
	background-color: transparent;
	padding: 20px 80px;
	color: #FF2D2D;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}
.info__text button:focus {
	outline: none;
}

.info__item {
	width: 670px;
	height: 220px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	padding-top: 80px;
}

.info__content {
	width: 290px;
	padding: 0 0 0 30px;
	margin-bottom: 0;
}


.info-img {
	display: block;
	background-repeat: no-repeat;
	padding: 30px 0 20px;
}

.info-title {
	font-weight: 600;
	font-size: 24px;
	color: #737373;
}

.line-gray {
	border: solid 2px #ECECEC;
}

/*Block 3*/

.products-title {
	text-align: center;
	height: 335px;
}

.products-title .titles {
	padding: 55px 0 20px 0;
}

.products-title .text {
	padding-bottom: 15px;
}

.titles {
	font-weight: 700;
	font-size: 42px;
	color: #575757;
	text-transform: uppercase;
}

.text {
	color: #747474;
	font-weight: 400;
	font-size: 16px;
}

.red-line {
	border: 2px solid #FF2929;
	width: 130px;
}

.products-title .red-line {
	margin: 0 auto;
}

.nav-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
}

.nav-items a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 22px;
	color: #747474;
}

.nav-items a:hover {
	color: #FF2929;
	transition: 300ms;
}

.navigation__products {
	padding-bottom: 40px;
}

/*Block 3*/

.block__products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}
.grid-element {
	height: 300px;
	background-color: #F7F0DD;
	cursor: pointer;
	transition: .9s;
}
.grid-element-one:hover {
	background-color: #ffec41;
}
.grid-element-two:hover {
	background-color: #FF2929;
}
.grid-element-three:hover {
	background-color: #4f75f4;
}
.grid-element-four:hover {
	background-color: #49cc63;
}

/*Block 4*/

.conteiner__team {
	padding-top: 90px;
	height: 890px;
}

.block-team h2 {
	margin-bottom: 22px;
}

.block-team .text {
	padding-left: 20px;
}

.block-team .red-line {
	margin-left: 20px;
}

.team-mask {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}

.team-block {
	width: 320px;
	height: 460px;
	background-color: #F7F0DD;
}

.team-social {
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-style: italic;
	font-size: 18px;
	font-weight: 400;
	width: 380px;
	padding: 0;
}

.team-content {
	width: 855px;
}

.team-content h2 {
	margin: 15px 0 0;
	font-weight: 600;
	font-size: 30px;
	color: #575757;
	text-transform: uppercase;
}
.team-content .text {
	margin: 40px 0 45px;
}

.team-content-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.team-photo {
	width: 201px;
	height: 210px;
	background-color: #F7F0DD;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	position: relative;
	top: 23px;
}
.team-photo a {
	color: transparent;
	position: absolute; 
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.team-photo-name:hover {
	font-weight: 600;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	list-style-type: none;
	text-decoration: none;
	padding: 10px 50px;
	box-shadow: inset 0px -40px #7C796E;
	transition: all 0.3s ease;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	margin: 0 auto;
}

/*Block 5*/

.conteiner__email {
	height: 515px;
	background-color: #F5F0DD;
	text-align: center;
	padding-bottom: 50px;
}

.conteiner__email h2 {
	padding: 140px 0 30px;
}

.conteiner__email p {
	padding-bottom: 40px;
}

.form-email button {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	background-color: #FF2D2D;
	padding: 33px 60px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	color: #fff;
}

.form-email button:focus {
	outline: none;
}

.form-email input {
	font-weight: 400;
	font-size: 14px;
	background-color: #fff;
	padding: 36px 357px 35px 35px;
	margin-right: 20px; 
	border-radius: 5px;
	border: none;
}

.form-email input:focus {
	outline: none;
}

/*Block 6*/

.conteiner__massege {
	height: 570px;
	padding-top: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.massege-text .red-line {
	margin-top: 40px;
}

.massege-text {
	padding-top: 60px;
}

.contact-info {
	width: 430px;
	height: 450px;
	background-color: #2D2D2D;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-info h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	padding-left: 40px;
}

.contact-info span {
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	display: block;
	padding: 12px 0 12px 40px;
}

.massege-box {
	width: 740px;
	display: flex;
	justify-content: space-between;
}

.massege-content:focus {
	outline: none;
}

.massege-content-textarea:focus {
	outline: none;
}

.massege-content-textarea {
	width: 688px;
	height: 180px;
	padding: 25px 26px;
	background-color: #E5E5E5;
	border: none;
	resize: none;
	margin-top: 40px;
	border-radius: 7px;
}

.massege-content {
	padding: 25px 15px 25px 25px;
	background-color: #E5E5E5;
	border: none;
	border-radius: 7px;
	width: 305px;
}

.massege-content-button {
	width: 740px;
	height: 70px;
	background-color: #FF3B3B;
	text-align: center;
	text-transform: uppercase;
	border-radius: 7px;
	color: #fff;
	border: none;
	margin-top: 40px;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}

.massege-content-button:focus {
	outline: none;
}

.conteiner__massege-right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.footer {
	background-color: #313030;
}

.footer-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	height: 110px;
}

.footer-content span {
	color: #B8B8B8;
	font-weight: 400;
	font-size: 14px;
}

.social-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
}

.social-items a {
	padding-left: 20px;
}

@media (max-width: 1100px) {
	.header__video img {
		width: 390px;
		height: 240px;
	}
	.continer__present {
		padding: 40px;
	}
	.header__video {
		padding-top: 80px;
	}
	.info__text {
		margin: 0 auto;
		text-align: center;
	}
	.conteiner__info {
		flex-direction: column;
	}
	.info__item {
		margin: 0 auto;
	}
	.line-gray {
		display: none;
	}
	.products-title {
		margin-top: 360px;
	}
	.conteiner__team {
		padding: 90px 40px;
		height: 1200px;
	}
	.team-mask {
		justify-content: center;
		flex-direction: column;
	}
	.block-team {
		text-align: center;
	}
	.block-team .red-line {
		margin: 0 auto;
	}
	.block-team .text {
		padding: 0;
	}
	.team-block {
		margin: 0 auto;
	}
	.team-content {
		padding-top: 30px;
		text-align: center;
		margin: 0 auto;
	}
	.team-social {
		margin: 0 auto;
	}
	.info__content {
		text-align: center;
	}
	.info-img {
		margin: 0 auto;
	}
	.conteiner__massege {
		flex-direction: column;
		height: 750px;
	}
	.conteiner__massege-right {
		margin-top: 40px;
	}
	.contact-info {
		margin: 0 auto;
		width: 960px;
		height: 220px;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.contact-info h2 {
		padding-left: 0;
	}
	.conteiner__massege-left {
		margin: 0 auto;
		display: grid;
	}
	.massege-text .red-line {
		margin: 0 auto;
	}
	.massege-text {
		text-align: center;
	}
	.footer {
		padding: 0 40px;
	}
	.block__products-grid {
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}
	.grid-element {
		// flex-grow: 1;
		outline: 1px solid black;
		flex-basis: calc(100% / 3 - 20px);
		height: 300px;
		background-color: #F7F0DD;
		cursor: pointer;
		transition: .9s;

		margin: 20px;
		// margin-bottom: 20px;

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-last-child(n + 3) {
			margin-bottom: 20px;
		}
	}

@media (max-width: 1000px) {
	.header__content {
		margin: 0 auto;
		text-align: center;
	}
	.present__info {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-top: -70px;
		height: 700px;
	}
	.header__video {
		padding-top: 40px;
		margin: 0 auto;
	}
	.continer__present {
		height: 840px;
		padding: 20px;
	}
	.header__video img {
		width: 410px;
		height: 260px;
	}
	.titles {
		font-size: 38px;
	}
	.header__content h1 {
		text-align: center;
	}
	.header__content p {
		text-align: center;
	}
}

@media (max-width: 900px) {
	.block__products-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 20px;
	}
	.conteiner__team {
		padding: 0;
	}
	.titles {
		font-size: 30px;
	}
	.team-block {
		height: 380px;
	}
	.nav-items a {
		font-size: 18px;
	}
	.block-team {
		padding-top: 70px;
	}
	.contact-info {
		margin-top: 20px;
		width: 380px;
		flex-direction: column;
	}
	.contact-info span {
		padding: 15px 20px 10px 20px;
		text-align: center;
	}
	.form-email button {
		padding: 20px 50px;
	}
	.form-email input {
		padding: 24px 315px 20px 30px;
	}
	.massege-content {
		padding: 20px 10px 20px 15px;
	}
	.massege-content-textarea {
		margin-top: 60px;
	}
	.massege-content-button {
		width: 570px;
		margin: 25px 0 25px 0 auto;
	}
	.conteiner__massege-righ {
		margin-top: 25px;
	}
	.team-content-item {
		flex-direction: column;
	}
	.team-photo {
		margin: 20px auto;
	}
	.conteiner__team {
		height: 2000px;
	}
}
@media (max-width: 720px) {
	.team-content {
		width: unset;
	}
	.team-content {
		margin-top: 20px;
	}
	.info__content {
		width: unset;
		padding: 0;
	}
	.products-title .titles {
		padding: 250px 0 20px 0;
	}
	.products-title {
		height: 500px;
	}
	.continer__present {
		margin: 0 auto;
	}
	.massege-box {
		flex-direction: column;
    align-items: center;
	}
	.massege-content-textarea {
		width: 518px;
		margin-top: 30px;
	}
	.massege-content {
		margin-bottom: 20px;
	}
	.conteiner__massege-left {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.form-email button {
		margin-top: 20px;
	}
	p,h1,h2 {
		padding: 0 40px;
	}
	.conteiner__massege-right {
		margin-top: 0;
	}
	.conteiner__massege {
		height: 800px;
	}
	.titles {
		font-size: 26px;
	}
}
@media (max-width: 600px) {
	.info__text {
		margin: 0 auto;
	}
	.massege-content-textarea {
		width: 285px;
	}
	.massege-content-button {
		width: 335px;
	}
	.conteiner__massege-left {
		width: -webkit-fill-available;
	}
	.nav-items {
		padding: 0;
	}
	.info__item {
		width: 480px;
	}
	.header__content {
		position: relative;
    top: 0;
    right: 25px;
	}
	.header__content h1 {
		padding-top: 70px;
		font-size: 48px;
	}
	.header__content p {
		padding: 0;
	}
	p, h1, h2 {
		padding: 0;
	}
	.grid-element {
		height: 250px;
		width: 250px;
    margin: 0 auto;
	}
	.nav-items {
		flex-wrap: wrap;
	}
	.text {
		flex-wrap: wrap;
	}
}
@media (max-width: 320px) {
	.wrap {
		max-width: 320px;
		margin: 0 auto;
	}
	.products-title {
		width: 180%;
	}
	.info__item {
		width: 185%;
	}
	.navigation__products {
		width: 185%;
	}
	.continer__present {
		width: 175%;
	}
	.info__text {
		width: 190%;
	}
	.grid-element {
		margin: 0px 175px auto;
	}
	.conteiner__team {
		width: 185%;
	}
	.conteiner__email {
		width: 190%;
	}
	.massege-text {
		width: 190%;
	}
	.conteiner__massege {
		width: 190%;
	}
	.text br {
		display: none;
	}
	.footer {

	}
}